@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* ====Reset==== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====Base Style==== */

body {
    font-family: 'Poppins', sans-serif;
    /* font-size: 1rem; */
    line-height: 1.2;
    background-color: hsl(0, 0%, 98%);
}

p {
    font-size: 15px;
}

/* ====Main Style==== */

.container {
    min-height: 100vh;
    max-width: 420px;
    margin-inline: auto;
    padding: 1rem .5rem; 
    text-align: center;
}

.feature__heading {
    color: hsl(229, 6%, 66%);
    margin-bottom: .8rem;
    font-weight: 200;
}

.feature__heading span {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}

.feature__body-text {
    color: hsl(229, 6%, 66%); 
    margin-bottom: 3rem;
    font-weight: 400;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 950px) {

    .container {
        height: auto;
        max-width: 1100px;
        padding: 1rem 2rem;
    }

    .feature__heading {
        max-width: 400px;
        margin-inline: auto;
    }

    .feature__body-text {
        max-width: 450px;
        margin-inline: auto;
    }

    .grid {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .card:nth-child(1) {
        grid-column: 1 / 5;
        grid-row: 3 / 8;
    }

    .card:nth-child(2) {
        grid-column: 5 / 9;
        grid-row: 1 / 6;
    }

    .card:nth-child(3) {
        grid-column: 5 / 9;
        grid-row: 6 / 11;
    }

    .card:nth-child(4) {
        grid-column: 9 / -1;
        grid-row: 3 / 8;
    }

}

.card {
    display: flex;
    flex-direction: column;

    padding: 1.5rem 2.5rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    text-align: left;
}

@media (min-width: 950px) {

    .card {
        padding: 1.5rem;
    }

}

.card--cyan-line {
    border-top: 3px solid hsl(180, 62%, 55%);
}

.card--red-line {
    border-top: 3px solid hsl(0, 78%, 62%);
}

.card--orange-line {
    border-top: 3px solid hsl(34, 97%, 64%);
}

.card--blue-line {
    border-top: 3px solid hsl(212, 86%, 64%);
}

.card__heading {
    color: hsl(234, 12%, 34%);
    margin-bottom: 1rem;
}

.card__body-text {
    color: hsl(229, 6%, 66%);
    padding: 0 .3rem;
    margin-bottom: 2.5rem;
    line-height: 1.5;
    font-weight: 400;
}

.card__img {
    width: 64px;
    height: 64px;
    align-self: end;
}

/* ====Footer Style==== */

.attribution { 
    font-size: 13px; 
    text-align: center; 
}

.attribution a { 
    text-decoration: none;
    padding: 0 .2rem;
    margin: 0 -.2rem;
    box-shadow: inset 0 0 0 0 hsl(228, 45%, 44%);
    color: hsl(228, 45%, 44%); 
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.attribution a:hover {
    box-shadow: inset 150px 0 0 0 hsl(228, 45%, 44%);
    color: hsl(0, 0%, 100%);
}